.search-form-form {
  display: flex;
  flex: 1;
}

.search-form-input {
  flex: 1;
  border: 2px solid #eeeeee;
  font-size: 2em;
}

.search-form-button {
  border: 2px solid #eeeeee;
  font-size: 2em;
}
